<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/load.js"/>
</head>
<body>
		<listByNavigation id="bbbb" onNavigate="subTitleClient.changeSubTitleOffset('<%=url%>','<%=subTitlesScript%>',event.navigationItemId);">
			<header>
				<tumblerWithSubtitle>
					<subtitle><![CDATA[字幕选择]]></subtitle>
				</tumblerWithSubtitle>
			</header>
			<navigation currentIndex="<%=currentIndex%>">
				<%for(var i=0;i<offsetList.length;i++){%>
					<navigationItem id="<%=offsetList[i]%>">
						<title><![CDATA[偏移 <%=offsetList[i]%> 秒]]></title>
					</navigationItem>
				<%}%>
			</navigation>
			<menu>
				<sections>
					<menuSection>
						<items>
							<%for(var i=0;i<subTitles.length;i++){%>
								<oneLineMenuItem id="albumItem_<%=i%>" onSelect="subTitleClient.playWithSubTitleAndOffset('<%=url%>','<%=subTitles[i]['url']%>',<%=selectedOffset%>);">
									<label><![CDATA[<%=subTitles[i]['title']%>]]></label>
								</oneLineMenuItem>
							<%}%>
						</items>
					</menuSection>
				</sections>
			</menu>
		</listByNavigation>
	</body>
</atv>