<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/load.js"/>
</head>
<body>
<itemDetail id="itemdetail">
			<title><![CDATA[<%=video['title']%>]]></title>
			<summary><![CDATA[<%=video['desc']%>]]></summary>
			<image style="moviePoster"><%=video['pic']%></image>
			<table>
				<columnDefinitions><columnDefinition width="50"><title>其他信息</title></columnDefinition><columnDefinition width="50"><title></title></columnDefinition></columnDefinitions>
				<rows>
					<row><label><![CDATA[类型:<%=video['type']%>]]></label><label><![CDATA[年代:<%=video['year']%>]]></label></row>
					<row><label><![CDATA[导演:<%=video['dctor']%>]]></label><label><![CDATA[主演:<%=video['actor']%>]]></label></row>
					<row><label><![CDATA[评分:<%=video['score']%>]]></label><label><![CDATA[地区:<%=video['area']%>]]></label></row>
				</rows>
			</table>
			<centerShelf>
				<shelf id="album">
					<sections>
						<shelfSection>
							<items>
								<%for(var i=0;i<seasons.length;i++){%>
									<actionButton id="season_<%=i+1%>" onSelect="yyetsClient.listVideosInSeason('<%=seasons[i]%>','');">
										<%if(seasons[i]=='0'){%>
											<title><![CDATA[<%=video['title']%>]]></title>
										<%}else if(seasons[i]=='103'){%>
											<title>其他</title>
										<%}else{%>
											<title><![CDATA[第<%=seasons[i]%>季]]></title>
										<%}%>
									</actionButton>
								<%}%>
								<actionButton id="album_8" onSelect="appletv.shareToSinaWeibo('<%=video['title']%>','http://www.yyets.com/php/resource/<%=video['id']%>','<%=video['pic']%>');">
									<title>分享</title>
								</actionButton>
								<actionButton id="album_9" onSelect="appletv.addToFavorite('<%=video['title']%>','<%=video['pic']%>','<%=script%>');">
									<title>收藏</title>
								</actionButton>
							</items>
						</shelfSection>
					</sections>
				</shelf>
			</centerShelf>
		</itemDetail>
</body>
</atv>