<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/clican.js"/>
<script src="<%=serverurl%>/javascript/smb.js"/>
<script src="<%=serverurl%>/javascript/ejs.js"/>
</head>
<body>
		<listScrollerSplit id="bbbb">
			<header>
				<simpleHeader horizontalAlignment="left">
					<title><%=smbUrl%></title>
					<image src=""></image>
				</simpleHeader>
			</header>
			<menu>
				<sections>
					<menuSection>
						<items>
							<%for(var i=0;i<items.length;i++){%>
								<%if(items[i].type=='file'){%>
									<%if(items[i].url!=null&&items[i].url.length>=0){%>
									<oneLineMenuItem id="albumItem_<%=i%>" onSelect="appletv.play('<%=items[url]%>');">
										<label><![CDATA[<%=items[i].fileName%>]]></label>
									</oneLineMenuItem>
									<%}else{%>
									<oneLineMenuItem id="albumItem_<%=i%>" onSelect="appletv.showDialog('无法通过本地iOS设备播放该文件','')；">
										<label><![CDATA[<%=items[i].fileName%>]]></label>
									</oneLineMenuItem>
									<%}%>
								<%}else{%>
									<oneLineMenuItem id="albumItem_<%=i%>" onSelect="smbClient.loadIndexPage('<%=items[url]%>');">
										<label><![CDATA[<%=items[i].fileName%> >>]]></label>
									</oneLineMenuItem>
								<%}%>
							<%}%>
						</items>
					</menuSection>
				</sections>
			</menu>
		</listScrollerSplit>
	</body>
</atv>