<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/load.js"/>
</head>
<body>
		<listScrollerSplit id="bbbb">
			<header>
				<simpleHeader horizontalAlignment="left">
					<title><![CDATA[<%=smbPath%>]]></title>
					<image src=""></image>
				</simpleHeader>
			</header>
			<menu>
				<sections>
					<menuSection>
						<items>
							<%for(var i=0;i<items.length;i++){%>
								<%if(items[i].type=='file'){%>
									<%if(items[i].url!=null&&items[i].url!=''){%>
									<oneLineMenuItem id="albumItem_<%=i%>" onSelect="smbClient.play('<%=items[i].url%>');">
										<label><![CDATA[<%=items[i].fileName%>]]></label>
									</oneLineMenuItem>
									<%}else{%>
									<oneLineMenuItem id="albumItem_<%=i%>" onSelect="appletv.showDialog('无法通过本地iOS设备播放该文件','');">
										<label><![CDATA[<%=items[i].fileName%>]]></label>
									</oneLineMenuItem>
									<%}%>
								<%}else{%>
									<oneLineMenuItem id="albumItem_<%=i%>" onSelect="smbClient.loadIndexPage('<%=items[i].url%>');">
										<label><![CDATA[<%=items[i].fileName%> >>]]></label>
									</oneLineMenuItem>
								<%}%>
							<%}%>
						</items>
					</menuSection>
				</sections>
			</menu>
		</listScrollerSplit>
	</body>
</atv>