<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/load.js"/>
</head>
<body>
<scroller id="index">
	<items>
		<shelf id="menu_bar">
			<sections>
				<shelfSection>
					<items>
						<%for(var i=0;i<channels.length;i++){%>
							<%if(channels[i]['value']=='search'){%>
								<moviePoster id="shelf_item_<%=channels[i]['value']%>" alwaysShowTitles="true" featured="true" onSelect="yyetsClient.loadSearchPage();" onPlay="yyetsClient.loadSearchPage();">
									<title><%=channels[i]['label']%></title>
									<defaultImage>resource://Poster.png</defaultImage>
								</moviePoster>
							<%}else{%>
								<moviePoster id="shelf_item_<%=channels[i]['value']%>" alwaysShowTitles="true" featured="true" onSelect="yyetsClient.loadIndexPage('',1,'<%=channels[i]['value']%>');" onPlay="yyetsClient.loadIndexPage('',1,'<%=channels[i]['value']%>');">
									<title><%=channels[i]['label']%></title>
									<defaultImage>resource://Poster.png</defaultImage>
								</moviePoster>
							<%}%>
						<%}%>
					</items>
				</shelfSection>
			</sections>
		</shelf>
		<%if(channel['value']!=3){%>
		<grid id="grid_1" columnCount="12">
			<items>
				<actionButton id="shelf_item_first_page" onSelect="yyetsClient.loadIndexPage('<%=keyword%>',1,'<%=channel['value']%>');" onPlay="yyetsClient.loadIndexPage('<%=keyword%>',1,'<%=channel['value']%>');">
					<title>第一页</title>
				</actionButton>
				<actionButton id="nextPage" onSelect="yyetsClient.loadIndexPage('<%=keyword%>',<%=page+1%>,'<%=channel['value']%>');" onPlay="yyetsClient.loadIndexPage('<%=keyword%>',<%=page+1%>,'<%=channel['value']%>');">
					<title>下一页</title>
				</actionButton>
				<%for(var i=begin;i<end;i++){%>
					<actionButton id="shelf_item_<%=i%>_page" onSelect="yyetsClient.loadIndexPage('<%=keyword%>',<%=i%>,'<%=channel['value']%>');" onPlay="yyetsClient.loadIndexPage('<%=keyword%>',<%=i%>,'<%=channel['value']%>');">
						<title><%=i%></title>
					</actionButton>
				<%}%>
				<actionButton id="shelf_item_last_page" onSelect="yyetsClient.loadIndexPage('<%=keyword%>',99,'<%=channel['value']%>');" onPlay="yyetsClient.loadIndexPage('<%=keyword%>',99,'<%=channel['value']%>');">
					<title>最后页</title>
				</actionButton>
			</items>
		</grid>
		<%}%>
		<grid id="movieGrid" columnCount="6">
			<items>
				<%for(var i=0;i<videos.length;i++){%>
					<moviePoster id="shelf_item_<%=videos[i]['id']%>" alwaysShowTitles="true" onSelect="yyetsClient.loadVideoPage('<%=videos[i]['id']%>');" onPlay="yyetsClient.loadVideoPage('<%=videos[i]['id']%>');">
						<title><![CDATA[<%=videos[i].title%>]]></title>
						<image><%=videos[i].pic%></image>
						<defaultImage>resource://Poster.png</defaultImage>
					</moviePoster>
				<%}%>
			</items>
		</grid>
		<%if(channel['value']!=3){%>
		<grid id="pagingGrid" columnCount="12">
			<items>
				<actionButton id="shelf_item_first_page" onSelect="yyetsClient.loadIndexPage('<%=keyword%>',1,'<%=channel['value']%>');" onPlay="yyetsClient.loadIndexPage('<%=keyword%>',1,'<%=channel['value']%>');">
					<title>第一页</title>
				</actionButton>
				<actionButton id="nextPage" onSelect="yyetsClient.loadIndexPage('<%=keyword%>',<%=page+1%>,'<%=channel['value']%>');" onPlay="yyetsClient.loadIndexPage('<%=keyword%>',<%=page+1%>,'<%=channel['value']%>');">
					<title>下一页</title>
				</actionButton>
				<%for(var i=begin;i<end;i++){%>
					<actionButton id="shelf_item_<%=i%>_page" onSelect="yyetsClient.loadIndexPage('<%=keyword%>',<%=i%>,'<%=channel['value']%>');" onPlay="yyetsClient.loadIndexPage('<%=keyword%>',<%=i%>,'<%=channel['value']%>');">
						<title><%=i%></title>
					</actionButton>
				<%}%>
				<actionButton id="shelf_item_last_page" onSelect="yyetsClient.loadIndexPage('<%=keyword%>',99,'<%=channel['value']%>');" onPlay="yyetsClient.loadIndexPage('<%=keyword%>',99,'<%=channel['value']%>');">
					<title>最后页</title>
				</actionButton>
			</items>
		</grid>
		<%}%>
	</items>
</scroller>
</body>
</atv>
