<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/clican.js"/>
<script src="<%=serverurl%>/javascript/ejs.js"/>
<script src="<%=serverurl%>/javascript/yyets.js"/>
</head>
<body>
<itemDetail id="itemdetail">
			<title><%=video['title']%></title>
			<summary><%=video['desc']%></summary>
			<image style="moviePoster"><%=video['pic']%></image>
			<table>
				<columnDefinitions><columnDefinition width="50"><title>其他信息</title></columnDefinition><columnDefinition width="50"><title></title></columnDefinition></columnDefinitions>
				<rows>
					<row><label><![CDATA[类型:<%=video['type']%>]]></label><label><![CDATA[年代:<%=video['year']%>]]></label></row>
					<row><label><![CDATA[导演:<%=video['dctor']%>]]></label><label><![CDATA[主演:<%=video['actor']%>]]></label></row>
					<row><label><![CDATA[评分:<%=video['score']%>]]></label><label><![CDATA[地区:<%=video['area']%>]]></label></row>
				</rows>
			</table>
			<centerShelf>
				<shelf id="album">
					<sections>
						<shelfSection>
							<items>
								<%for(var i=0;i<formats.length;i++){%>
									<actionButton id="format_<%=i+1%>" onSelect="yyetsClient.listVideosInFormat('<%=formats[i]%>','');">
										<title><![CDATA[<%=formats[i]%>]]></title>
									</actionButton>
								<%}%>
								<actionButton id="album_8" onSelect="atv.loadURL('<%=serverurl%>/ctl/weibo/createStatus.xml?deviceId='+atv.device.udid+'&amp;title='+encodeURIComponent('<%=video['title']%>')+'&amp;shareURL=http://www.yyets.com/php/resource/<%=video['id']%>&amp;imageURL=<%=video['pic']%>');">
									<title>分享</title>
								</actionButton>
							</items>
						</shelfSection>
					</sections>
				</shelf>
			</centerShelf>
		</itemDetail>
</body>
</atv>