<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/load.js"></script>
</head>
<body>
	<scroller id="category">
		<items>
			<%for(var i=0;i<categoryNames.length;i++){%>
				<collectionDivider><title><![CDATA[<%=categoryNames[i]%>]]></title></collectionDivider>
				<grid id="g<%=i%>" columnCount="5">
					<items>
						<%for(var j=0;j<categoryMap[categoryNames[i]].length;j++){%>
							<actionButton id="ab_<%=i%>_<%=j%>" onPlay="baidumusicClient.loadCategoryPage('<%=categoryMap[categoryNames[i]][j]['categoryUrl']%>',false);" onSelect="baidumusicClient.loadCategoryPage('<%=categoryMap[categoryNames[i]][j]['categoryUrl']%>',false);">
								<%if(categoryMap[categoryNames[i]][j]['select']){%>
									<title><![CDATA[√<%=categoryMap[categoryNames[i]][j]['categoryLabel']%>]]></title>
								<%}else{%>
									<title><![CDATA[<%=categoryMap[categoryNames[i]][j]['categoryLabel']%>]]></title>
								<%}%>
							</actionButton>
						<%}%>
					</items>
				</grid>
			<%}%>
			<grid id="sg" columnCount="1">
				<items>
					<actionButton id="submitButton" onPlay="baidumusicClient.loadIndexPage('',1,'album','<%=url%>');" onSelect="baidumusicClient.loadIndexPage('',1,'album','<%=url%>');">
						<title>提交</title>
					</actionButton>
				</items>
			</grid>
		</items>
	</scroller>
</body>
</atv>