<atv>
	<body>
		<listScrollerSplit id="lsp">
			<header>
				<simpleHeader horizontalAlignment="left">
					<title>频道选择</title>
				</simpleHeader>
			</header>
			<menu>
				<sections>
					<menuSection>
						<items>
							<%for(var i=0;i<channels.length;i++){%>
								<%if(channels[i].value=='search'){%>
								<oneLineMenuItem id="channel_<%=i%>" onPlay="baidumusicClient.loadSearchPage();" onSelect="baidumusicClient.loadSearchPage();">
									<label><%=channels[i].label%></label>
									<image></image>
								</oneLineMenuItem>
								<%}else{%>
								<oneLineMenuItem id="channel_<%=i%>" onPlay="baidumusicClient.loadIndexPage('',1,'<%=channels[i]['value']%>');" onSelect="baidumusicClient.loadIndexPage('',1,'<%=channels[i]['value']%>');">
									<label><%=channels[i].label%></label>
									<image></image>
								</oneLineMenuItem>
								<%}%>
							<%}%>
						</items>
					</menuSection>
				</sections>
			</menu>
		</listScrollerSplit>
	</body>
</atv>