<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/clican.js"/>
<script src="<%=serverurl%>/javascript/ejs.js"/>
<script src="<%=serverurl%>/javascript/soku.js"/>
</head>
<body>
<scroller id="index">
	<items>
		<grid id="grid_1" columnCount="10">
			<items>
				<actionButton id="shelf_item_first_page" onSelect="sokuClient.loadIndexPage('<%=keyword%>',1);" onPlay="sokuClient.loadIndexPage('<%=keyword%>',1);">
					<title>第一页</title>
				</actionButton>
				<actionButton id="nextPage" onSelect="sokuClient.loadIndexPage('<%=keyword%>',<%=page+1%>);" onPlay="sokuClient.loadIndexPage('<%=keyword%>',<%=page+1%>);">
					<title>下一页</title>
				</actionButton>
				<%for(var i=begin;i<end;i++){%>
					<actionButton id="shelf_item_<%=i%>_page" onSelect="sokuClient.loadIndexPage('<%=keyword%>',<%=i%>);" onPlay="sokuClient.loadIndexPage('<%=keyword%>',<%=i%>);">
						<title><%=i%></title>
					</actionButton>
				<%}%>
				<actionButton id="shelf_item_last_page" onSelect="sokuClient.loadIndexPage('<%=keyword%>',99);" onPlay="sokuClient.loadIndexPage('<%=keyword%>',99);">
					<title>最后页</title>
				</actionButton>
			</items>
		</grid>
		<grid id="movieGrid" columnCount="6">
			<items>
				<%for(var i=0;i<videos.length;i++){%>
					<moviePoster id="shelf_item_<%=i%>" alwaysShowTitles="true" onSelect="sokuClient.loadVideoPage('<%=videos[i]['id']%>',<%=videos[i]['album']%>,'<%=videos[i]['site']%>');">
						<title><![CDATA[<%=videos[i].title%>]]></title>
						<image><%=videos[i].pic%></image>
						<defaultImage>resource://Poster.png</defaultImage>
					</moviePoster>
				<%}%>
			</items>
		</grid>
		<grid id="pagingGrid" columnCount="10">
			<items>
				<actionButton id="shelf_item_first_page" onSelect="sokuClient.loadIndexPage('<%=keyword%>',1);" onPlay="sokuClient.loadIndexPage('<%=keyword%>',1);">
					<title>第一页</title>
				</actionButton>
				<actionButton id="nextPage" onSelect="sokuClient.loadIndexPage('<%=keyword%>',<%=page+1%>);" onPlay="sokuClient.loadIndexPage('<%=keyword%>',<%=page+1%>);">
					<title>下一页</title>
				</actionButton>
				<%for(var i=begin;i<end;i++){%>
					<actionButton id="shelf_item_<%=i%>_page" onSelect="sokuClient.loadIndexPage('<%=keyword%>',<%=i%>);" onPlay="sokuClient.loadIndexPage('<%=keyword%>',<%=i%>);">
						<title><%=i%></title>
					</actionButton>
				<%}%>
				<actionButton id="shelf_item_last_page" onSelect="sokuClient.loadIndexPage('<%=keyword%>',99);" onPlay="sokuClient.loadIndexPage('<%=keyword%>',99);">
					<title>最后页</title>
				</actionButton>
			</items>
		</grid>
	</items>
</scroller>
</body>
</atv>