<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/clican.js"/>
<script src="<%=serverurl%>/javascript/ejs.js"/>
<script src="<%=serverurl%>/javascript/yyets.js"/>
<script src="<%=serverurl%>/javascript/xunlei.js"/>
</head>
<body>
		<listByNavigation id="bbbb" onNavigate="yyetsClient.listVideosInSeason('<%=season%>',event.navigationItemId);">
			<header>
				<tumblerWithSubtitle>
					<subtitle><![CDATA[<%=title%>]]></subtitle>
				</tumblerWithSubtitle>
			</header>
			<navigation currentIndex="<%=currentIndex%>">
				<%for(var i=0;i<formats.length;i++){%>
					<navigationItem id="<%=formats[i]%>">
						<title><![CDATA[<%=formats[i]%>]]></title>
					</navigationItem>
				<%}%>
			</navigation>
			<menu>
				<sections>
					<menuSection>
						<items>
							<%for(var i=0;i<items.length;i++){%>
								<oneLineMenuItem id="albumItem_<%=i%>" onSelect="yyetsClient.play('<%=items[i]['url']%>');">
									<label><![CDATA[<%=items[i]['title']%>]]></label>
								</oneLineMenuItem>
							<%}%>
						</items>
					</menuSection>
				</sections>
			</menu>
		</listByNavigation>
	</body>
</atv>