<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/clican.js"/>
</head>
<body>
<scroller id="index">
	<items>
		<shelf id="menu_bar">
			<sections>
				<shelfSection>
					<items>
						<%for(var i=0;i<channels.length;i++){%>
							<%if(channels[i]['value']=='search'){%>
								<moviePoster id="shelf_item_<%=channels[i]['value']%>" alwaysShowTitles="true" featured="true" onSelect="sokuClient.loadSearchPage();" onPlay="sokuClient.loadSearchPage();">
									<title><%=channels[i]['label']%></title>
									<defaultImage>resource://Poster.png</defaultImage>
								</moviePoster>
							<%}else{%>
								<moviePoster id="shelf_item_<%=channels[i]['value']%>" alwaysShowTitles="true" featured="true" onSelect="fivesixClient.loadIndexPage('',1,'<%=channels[i]['value']%>');" onPlay="fivesixClient.loadIndexPage('',1,'<%=channels[i]['value']%>');">
									<title><%=channels[i]['label']%></title>
									<defaultImage>resource://Poster.png</defaultImage>
								</moviePoster>
							<%}%>
						<%}%>
					</items>
				</shelfSection>
			</sections>
		</shelf>
		<grid id="grid_1" columnCount="12">
			<items>
				<%if(channel['value']=='dsj'||channel['value']=='dy'){%>
				<actionButton id="shelf_item_category_page" onSelect="fivesixClient.loadCategoryPage('<%=url%>','<%=channel['value']%>',true);" onPlay="fivesixClient.loadCategoryPage('<%=url%>','<%=channel['value']%>',true);">
					<title>筛选</title>
				</actionButton>
				<%}%>
				<actionButton id="shelf_item_first_page" onSelect="fivesixClient.loadIndexPage('<%=keyword%>',1,'<%=channel['value']%>','<%=url%>');" onPlay="fivesixClient.loadIndexPage('<%=keyword%>',1,'<%=channel['value']%>','<%=url%>');">
					<title>第一页</title>
				</actionButton>
				<actionButton id="nextPage" onSelect="fivesixClient.loadIndexPage('<%=keyword%>',<%=page+1%>,'<%=channel['value']%>','<%=url%>');" onPlay="fivesixClient.loadIndexPage('<%=keyword%>',<%=page+1%>,'<%=channel['value']%>','<%=url%>');">
					<title>下一页</title>
				</actionButton>
				<%for(var i=begin;i<end;i++){%>
					<actionButton id="shelf_item_<%=i%>_page" onSelect="fivesixClient.loadIndexPage('<%=keyword%>',<%=i%>,'<%=channel['value']%>','<%=url%>');" onPlay="fivesixClient.loadIndexPage('<%=keyword%>',<%=i%>,'<%=channel['value']%>','<%=url%>');">
						<title><%=i%></title>
					</actionButton>
				<%}%>
				<actionButton id="shelf_item_last_page" onSelect="fivesixClient.loadIndexPage('<%=keyword%>',99,'<%=channel['value']%>','<%=url%>');" onPlay="fivesixClient.loadIndexPage('<%=keyword%>',99,'<%=channel['value']%>','<%=url%>');">
					<title>最后页</title>
				</actionButton>
			</items>
		</grid>
		<grid id="movieGrid" columnCount="6">
			<items>
				<%for(var i=0;i<videos.length;i++){%>	
					<moviePoster id="shelf_item_<%=i%>" alwaysShowTitles="true" onSelect="fivesixClient.loadVideoPage('<%=videos[i]['id']%>','<%=videos[i].pic%>','<%=channel['value']%>');">
						<title><![CDATA[<%=videos[i].title%>]]></title>
						<image><%=videos[i].pic%></image>
						<defaultImage>resource://Poster.png</defaultImage>
					</moviePoster>
				<%}%>
			</items>
		</grid>
		<grid id="pagingGrid" columnCount="12">
			<items>
				<%if(channel['value']=='dsj'||channel['value']=='dy'){%>
				<actionButton id="shelf_item_category_page" onSelect="fivesixClient.loadCategoryPage('<%=url%>','<%=channel['value']%>',true);" onPlay="fivesixClient.loadCategoryPage('<%=url%>','<%=channel['value']%>',true);">
					<title>筛选</title>
				</actionButton>
				<%}%>
				<actionButton id="shelf_item_first_page" onSelect="fivesixClient.loadIndexPage('<%=keyword%>',1,'<%=channel['value']%>','<%=url%>');" onPlay="fivesixClient.loadIndexPage('<%=keyword%>',1,'<%=channel['value']%>','<%=url%>');">
					<title>第一页</title>
				</actionButton>
				<actionButton id="nextPage" onSelect="fivesixClient.loadIndexPage('<%=keyword%>',<%=page+1%>,'<%=channel['value']%>','<%=url%>');" onPlay="fivesixClient.loadIndexPage('<%=keyword%>',<%=page+1%>,'<%=channel['value']%>','<%=url%>');">
					<title>下一页</title>
				</actionButton>
				<%for(var i=begin;i<end;i++){%>
					<actionButton id="shelf_item_<%=i%>_page" onSelect="fivesixClient.loadIndexPage('<%=keyword%>',<%=i%>,'<%=channel['value']%>','<%=url%>');" onPlay="fivesixClient.loadIndexPage('<%=keyword%>',<%=i%>,'<%=channel['value']%>','<%=url%>');">
						<title><%=i%></title>
					</actionButton>
				<%}%>
				<actionButton id="shelf_item_last_page" onSelect="fivesixClient.loadIndexPage('<%=keyword%>',99,'<%=channel['value']%>','<%=url%>');" onPlay="fivesixClient.loadIndexPage('<%=keyword%>',99,'<%=channel['value']%>','<%=url%>');">
					<title>最后页</title>
				</actionButton>
			</items>
		</grid>
	</items>
</scroller>
</body>
</atv>
