<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/load.js"/>
</head>
<body>
<scroller id="index">
	<items>
		<shelf id="menu_bar">
			<sections>
				<shelfSection>
					<items>
						<%for(var i=0;i<channels.length;i++){%>
							<%if(channels[i]['value']==1001){%>
								<actionButton id="shelf_item_<%=channels[i]['value']%>" onSelect="tuClient.loadSearchPage();" onPlay="tuClient.loadSearchPage();">
									<title><%=channels[i]['label']%></title>
								</actionButton>
							<%}else{%>
								<actionButton id="shelf_item_<%=channels[i]['value']%>" onSelect="tuClient.loadIndexPage('',1,<%=channels[i]['value']%>);" onPlay="tuClient.loadIndexPage('',1,<%=channels[i]['value']%>);">
									<title><%=channels[i]['label']%></title>
								</actionButton>
							<%}%>
						<%}%>
					</items>
				</shelfSection>
			</sections>
		</shelf>
		<%if(channel['value']!=1001){%>
		<grid id="grid_1" columnCount="11">
			<items>
				<actionButton id="shelf_item_first_page" onSelect="tuClient.loadIndexPage('<%=keyword%>',1,<%=channel['value']%>);" onPlay="tuClient.loadIndexPage('<%=keyword%>',1,<%=channel['value']%>);">
					<title>第一页</title>
				</actionButton>
				<actionButton id="nextPage" onSelect="tuClient.loadIndexPage('<%=keyword%>',<%=page+1%>,<%=channel['value']%>);" onPlay="tuClient.loadIndexPage('<%=keyword%>',<%=page+1%>,<%=channel['value']%>);">
					<title>下一页</title>
				</actionButton>
				<%for(var i=begin;i<end;i++){%>
					<actionButton id="shelf_item_<%=i%>_page" onSelect="tuClient.loadIndexPage('<%=keyword%>',<%=i%>,<%=channel['value']%>);" onPlay="tuClient.loadIndexPage('<%=keyword%>',<%=i%>,<%=channel['value']%>);">
						<title><%=i%></title>
						<%if(i==page){%>
						<image>resource://Play.png</image>
						<%}%>
					</actionButton>
				<%}%>
				<actionButton id="shelf_item_last_page" onSelect="tuClient.loadIndexPage('<%=keyword%>',99,<%=channel['value']%>);" onPlay="tuClient.loadIndexPage('<%=keyword%>',99,<%=channel['value']%>);">
					<title>最后页</title>
				</actionButton>
			</items>
		</grid>
		<%}%>
		<grid id="movieGrid" columnCount="6">
			<items>
				<%for(var i=0;i<videos.length;i++){%>
					<moviePoster id="shelf_item_<%=i%>" alwaysShowTitles="true" onSelect="tuClient.loadVideoPage('<%=videos[i]['id']%>');">
						<title><![CDATA[<%=videos[i].title%>]]></title>
						<image><%=videos[i].pic%></image>
						<defaultImage>resource://Poster.png</defaultImage>
					</moviePoster>
				<%}%>
			</items>
		</grid>
		<%if(channel['value']!=1001){%>
		<grid id="pagingGrid" columnCount="11">
			<items>
				<actionButton id="shelf_item_first_page" onSelect="tuClient.loadIndexPage('<%=keyword%>',1,<%=channel['value']%>);" onPlay="tuClient.loadIndexPage('<%=keyword%>',1,<%=channel['value']%>);">
					<title>第一页</title>
				</actionButton>
				<actionButton id="nextPage" onSelect="tuClient.loadIndexPage('<%=keyword%>',<%=page+1%>,<%=channel['value']%>);" onPlay="tuClient.loadIndexPage('<%=keyword%>',<%=page+1%>,<%=channel['value']%>);">
					<title>下一页</title>
				</actionButton>
				<%for(var i=begin;i<end;i++){%>
					<actionButton id="shelf_item_<%=i%>_page" onSelect="tuClient.loadIndexPage('<%=keyword%>',<%=i%>,<%=channel['value']%>);" onPlay="tuClient.loadIndexPage('<%=keyword%>',<%=i%>,<%=channel['value']%>);">
						<title><%=i%></title>
						<%if(i==page){%>
						<image>resource://Play.png</image>
						<%}%>
					</actionButton>
				<%}%>
				<actionButton id="shelf_item_last_page" onSelect="tuClient.loadIndexPage('<%=keyword%>',99,<%=channel['value']%>);" onPlay="tuClient.loadIndexPage('<%=keyword%>',99,<%=channel['value']%>);">
					<title>最后页</title>
				</actionButton>
			</items>
		</grid>
		<%}%>
	</items>
</scroller>
</body>
</atv>
