<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/load.js"/>
</head>
<body>
		<listWithPreview id="bbbb">
			<header>
				<simpleHeader horizontalAlignment="left">
					<title><![CDATA[<%=video['title']%>]]></title>
				</simpleHeader>
			</header>
			<preview>
				<crossFadePreview>
					<image><%=video['pic']%></image>
				</crossFadePreview>
			</preview>
			<menu>
				<sections>
					<menuSection>
						<items>
							<%for(var i=0;i<items.length;i++){%>
								<%if(items[i]['vcode']!=null&&items[i]['vcode'].length>0){%>
									<oneLineMenuItem id="albumItem_<%=i%>" onPlay="sokuClient.play('<%=items[i]['vcode']%>');" onSelect="sokuClient.play('<%=items[i]['vcode']%>');">
										<label><![CDATA[<%=items[i]['title']%>]]></label>
									</oneLineMenuItem>
								<%}else if(items[i]['url']!=null&&items[i]['url'].length>0){%>
									<oneLineMenuItem id="albumItem_<%=i%>" onPlay="sokuClient.openUrl('<%=items[i]['url']%>');" onSelect="sokuClient.openUrl('<%=items[i]['url']%>');">
										<label><![CDATA[<%=items[i]['title']%>]]></label>
									</oneLineMenuItem>
								<%}else{%>
									<oneLineMenuItem id="albumItem_<%=i%>" onPlay="appletv.showDialog('无法播放','');" onSelect="appletv.showDialog('无法播放','');">
										<label><![CDATA[<%=items[i]['title']%>]]></label>
									</oneLineMenuItem>
								<%}%>
							<%}%>
						</items>
					</menuSection>
				</sections>
			</menu>
		</listWithPreview>
	</body>
</atv>