<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/load.js"/>
</head>
<body>
<itemDetail id="itemdetail">
			<title><![CDATA[<%=video['title']%>]]></title>
			<summary><![CDATA[<%=video['desc']%>]]></summary>
			<image style="moviePoster"><%=video['pic']%></image>
			<table>
				<columnDefinitions><columnDefinition width="50"><title>其他信息</title></columnDefinition><columnDefinition width="50"><title></title></columnDefinition></columnDefinitions>
				<rows>
					<row><label><![CDATA[导演:<%=video['dctor']%>]]></label><label><![CDATA[年代:<%=video['year']%>]]></label></row>
					<row><label><![CDATA[评分:<%=video['score']%>]]></label><label><![CDATA[地区:<%=video['area']%>]]></label></row>
					<row><label><![CDATA[剧集:共<%=items.length%>集]]></label><label><![CDATA[主演:<%=video['actor']%>]]></label></row>
				</rows>
			</table>
			<centerShelf>
				<shelf id="album">
					<sections>
						<shelfSection>
							<items>
								<actionButton id="album_1" onSelect="baidumusicClient.loadItemsPage();">
									<title>剧集</title>
								</actionButton>
								<actionButton id="album_8" onSelect="appletv.shareToSinaWeibo('<%=video['title']%>','<%=video['shareurl']%>','<%=video['pic']%>');" onPlay="appletv.shareToSinaWeibo('<%=video['title']%>','<%=video['shareurl']%>','<%=video['pic']%>');">
									<title>分享</title>
								</actionButton>
								<actionButton id="album_9" onSelect="appletv.addToFavorite('<%=video['title']%>','<%=video['pic']%>','<%=script%>');">
									<title>收藏</title>
								</actionButton>
							</items>
						</shelfSection>
					</sections>
				</shelf>
			</centerShelf>
		</itemDetail>
</body>
</atv>