<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/load.js"/>
</head>
<body>
		<listWithPreview id="bbbb">
			<header>
				<simpleHeader horizontalAlignment="left">
					<title><![CDATA[<%=video['title']%>]]></title>
				</simpleHeader>
			</header>
			<preview>
				<crossFadePreview>
					<image><%=video['pic']%></image>
				</crossFadePreview>
			</preview>
			<menu>
				<sections>
					<menuSection>
						<items>
							<%for(var i=0;i<items.length;i++){%>
								<oneLineMenuItem id="albumItem_<%=i%>" onPlay="baidumusicClient.play('<%=items[i]['id']%>');" onSelect="baidumusicClient.play('<%=items[i]['id']%>');">
									<label><%=items[i]['title']%></label>
								</oneLineMenuItem>
							<%}%>
						</items>
					</menuSection>
				</sections>
			</menu>
		</listWithPreview>
	</body>
</atv>