<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/clican.js"/>
<script src="<%=serverurl%>/javascript/ejs.js"/>
<script src="<%=serverurl%>/javascript/yyets.js"/>
</head>
<body>
		<listByNavigation id="bbbb" onNavigate="yyetsClient.listVideosInFormat('<%=format%>',event.navigationItemId);">
			<header>
				<simpleHeader horizontalAlignment="left">
					<title><![CDATA[<%=video['title']%>]]></title>
					<image src="<%=video['pic']%>"></image>
				</simpleHeader>
			</header>
			<navigation>
				<%for(var i=0;i<seasons.length;i++){%>
					<navigationItem id="<%=seasons[i]%>">
						<title><![CDATA[<%=seasons[i]%>]]></title>
					</navigationItem>
				<%}%>
			</navigation>
			<menu>
				<sections>
					<menuSection>
						<items>
							<%for(var i=0;i<items.length;i++){%>
								<oneLineMenuItem id="albumItem_<%=i%>" onPlay="yyetsClient.playVideo('<%=items[i]['vid']%>');" onSelect="qqClient.playVideo('<%=items[i]['vid']%>');">
									<label><%=items[i]['title']%></label>
								</oneLineMenuItem>
							<%}%>
						</items>
					</menuSection>
				</sections>
			</menu>
		</listByNavigation>
	</body>
</atv>