<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/clican.js"/>
<script src="<%=serverurl%>/javascript/ejs.js"/>
<script src="<%=serverurl%>/javascript/yyets.js"/>
</head>
<body>
		<listByNavigation id="bbbb" onNavigate="yyetsClient.listVideosInFormat('<%=format%>',event.navigationItemId);">
			<header>
				<simpleHeader horizontalAlignment="left">
					<title><![CDATA[<%=title%>]]></title>
					<image src="<%=pic%>"></image>
				</simpleHeader>
			</header>
			<navigation currentIndex="<%=currentIndex%>">
				<%for(var i=0;i<seasons.length;i++){%>
					<navigationItem id="<%=seasons[i]%>">
						<%if(seasons[i]=='0'){%>
							<title><![CDATA[<%=title%>]]></title>
						<%}else{%>
							<title><![CDATA[第<%=seasons[i]%>季]]></title>
						<%}%>
					</navigationItem>
				<%}%>
			</navigation>
			<menu>
				<sections>
					<menuSection>
						<items>
							<%for(var i=0;i<items.length;i++){%>
								<oneLineMenuItem id="albumItem_<%=i%>" onSelect="<%=items[i]['url']%>">
									<label><![CDATA[<%=items[i]['title']%>]]></label>
								</oneLineMenuItem>
							<%}%>
						</items>
					</menuSection>
				</sections>
			</menu>
		</listByNavigation>
	</body>
</atv>