<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/load.js"/>
</head>
<body>
<itemDetail id="itemdetail">
			<title><%=video['title']%></title>
			<summary><%=video['desc']%></summary>
			<image style="moviePoster"><%=video['pic']%></image>
			<table>
				<columnDefinitions><columnDefinition width="50"><title>其他信息</title></columnDefinition><columnDefinition width="50"><title></title></columnDefinition></columnDefinitions>
				<rows>
					<row><label><![CDATA[导演:<%=video['dctor']%>]]></label><label><![CDATA[年代:<%=video['year']%>]]></label></row>
					<row><label><![CDATA[评分:<%=video['score']%>]]></label><label><![CDATA[地区:<%=video['area']%>]]></label></row>
					<row><label><![CDATA[剧集:共<%=items.length%>集]]></label><label><![CDATA[主演:<%=video['actor']%>]]></label></row>
				</rows>
			</table>
			<centerShelf>
				<shelf id="album">
					<sections>
						<shelfSection>
							<items>
								<%if(items.length<7){%>
									<%for(var i=0;i<items.length;i++){%>
										<actionButton id="album_<%=i+1%>" onSelect="qqClient.playVideo('<%=items[i]['vid']%>');" onPlay="qqClient.playVideo('<%=items[i]['vid']%>');">
											<title>第<%=i+1%>集</title>
										</actionButton>
									<%}%>
								<%}else{%>
									<actionButton id="album_1" onSelect="qqClient.loadItemsPage('<%=video['id']%>');" onPlay="qqClient.loadItemsPage('<%=video['id']%>');">
										<title>高清</title>
									</actionButton>
								<%}%>
								<actionButton id="album_8" onSelect="appletv.shareToSinaWeibo('<%=video['title']%>','http://v.qq.com/cover/<%=video['id'].substring(0,1)%>/<%=video['id']%>.html','<%=video['pic']%>');" onPlay="appletv.shareToSinaWeibo('<%=video['title']%>','http://v.qq.com/cover/<%=video['id'].substring(0,1)%>/<%=video['id']%>.html','<%=video['pic']%>');">
									<title>分享</title>
								</actionButton>
								<actionButton id="album_9" onSelect="appletv.addToFavorite('<%=video['title']%>','<%=video['pic']%>','<%=script%>');">
									<title>收藏</title>
								</actionButton>
							</items>
						</shelfSection>
					</sections>
				</shelf>
			</centerShelf>
		</itemDetail>
</body>
</atv>